/*******************************************************************************************************************************************
 * File Name: frozencolteststyle.css
 * Author: Matt Nutsch
 * Date: 1-12-2018
 * Description: Testing an option for freezing leftmost columns.
 * Notes:
 * 
 ******************************************************************************************************************************************/

table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid grey;
}

td {
  margin: 0;
  margin-top: 19px;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
}

th {
  position: fixed;
  margin: 0; 
  margin-top: 0px;
  border: 1px solid grey;
  height: 18px;
  white-space: nowrap;
  border-top-width: 0px;
}

div.scrollingContent {
  width: 500px;
  overflow-x: scroll;
  margin-left: 67px;
  margin-top: 19px;
  overflow-y: scroll;
  padding: 0;
  max-height: 150px;
}

div.wrapperBox {
  position: absolute;
  clip: rect(19px,566px,169px,22px);
  
}

.leftCol1 {
  position: fixed;
  width: 19px;
  left: 30px;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: 20px;
  /*compensate for top border*/
  height: 18px;
  
  background-color: white;
  z-index: 2;
}

.leftCol2 {
  position: fixed;
  width: 19px;
  left: 52px; /* set to the width of  */
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: 20px;
  /*compensate for top border*/
  height: 18px;
  
  background-color: white;
  z-index: 2;
}

.leftHead1 {
  position: fixed;
  width: 19px;
  left: 30px;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
  height: 18px;
  
  background-color: white;
  z-index: 2;
}

.leftHead2 {
  position: fixed;
  width: 19px;
  left: 52px; /* set to the width of  */
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
  height: 18px;
  
  background-color: white;
  z-index: 2;
}

.bodyContent {
  position: relative;
  background-color: yellow;
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.headContent {
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
  background-color: white;
  z-index: 1;
  min-width: 100px;
  max-width: 100px;
  overflow: hidden;
}

.col0 {
 margin-left:0px;
}

.col1 {
 margin-left:104px;
}

.col2 {
 margin-left:208px;
}

.col3 {
 margin-left:312px;
}

.col4 {
 margin-left:416px;
}

.col5 {
 margin-left:520px;
}

.col6 {
 margin-left:624px;
}

.col7 {
 margin-left:728px;
}

.col8 {
 margin-left:832px;
}
